extends layout

block append head
  script(src='/js/wysihtml5-0.3.0.min.js')
  script(src='/js/bootstrap-wysihtml5-0.0.2.min.js')
  script(src='/js/admin.js')
  link(href='/css/bootstrap-wysihtml5-0.0.2.css', rel='stylesheet', media='screen')

  script
    $(document).ready(function() {
      var editor=$('.textarea').wysihtml5({
        stylesheets: ["/css/wysiwyg-color.css"]
      });
      $('.save_new_post').on('click',function() {
        saveNewPost();
      });
    });

block hnav
  li
    a(href='#') Home
  li
    a(href='#') Home

block content
    form
      textarea.textarea(placeholder='Enter your text ...', autofocus='autofocus',style="width: 610px; height: 200px")
    form.new_post
      fielset
        label(for='inputCategory') Category
        select(id='inputCategory',name='categories')
          each category in locals.categories
            option #{category}
        label(for='inputTitle') Title
        input(id='inputTitle',type="text",name="title",placeholder="Enter Title...")
        label(for='inputTags') Tags (comma seperated)
        input(id='inputTags',type="text",name="tags",placeholder="Enter Tags...")
    a.btn.btn-primary.save_new_post save

block rightnav
  ul.nav.nav-list
    li.nav-header Admin Functions
    li
      a(href='#') Foo
