extends layout

block hnav
  li
    a(href='#') Home
  li
    a(href='#') Home

block content
  h1 title
  p Welcome to title

block rightnav
  ul.nav.nav-list
    li.nav-header Lastest Posts
    li
      a(href='#') Foo
    li
      a(href='#') Bar
    li.nav-header Tags
    li
      a(href='#') Foo
    li
      a(href='#') Bar
