//-
  Copyright 2013 Alexander Kasimir

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

extends layout

block append head
  script(src='/js/dropzone.js')
  script(src='/js/admin.js')
  link(href='/css/basic.css', rel='stylesheet', media='screen')
  link(href='/css/dropzone.css', rel='stylesheet', media='screen')


block hnav
  li
    a(href='#') Home
  li
    a(href='#') Home

block content
    form.dropzone(id='dropzone', action="/admin/doupload")
    //--  input(type='file',name='file')

block rightnav
  ul.nav.nav-list
    li.nav-header Admin Functions
    each navitem in admin_nav
      li
        a(href='#{navitem.link}') #{navitem.name}
