extends layout

block append head
  script(src='/js/dropzone.js')
  script(src='/js/admin.js')
  link(href='/css/basic.css', rel='stylesheet', media='screen')
  link(href='/css/dropzone.css', rel='stylesheet', media='screen')


block hnav
  li
    a(href='#') Home
  li
    a(href='#') Home

block content
    form.dropzone(id='dropzone', action="/admin/doupload")
    //--  input(type='file',name='file')

block rightnav
  ul.nav.nav-list
    li.nav-header Admin Functions
    each navitem in admin_nav
      li
        a(href='#{navitem.link}') #{navitem.name}
